@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Poppins:wght@300&display=swap');
:root{
  --dark: #BE803E;
  --bgc: #FFD2A2;
  --light:#FFE8CF;
  
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
    font-family: 'Autour One', cursive;
    

  }

  .modal-content.hide {
    display: none;
  }
  
  .modal-content img {
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 10px;
    align-self: center;
    border-radius: 5px;
  }

  .modal-overlay.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 35%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
 
  
  .modal-overlay.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #ccc;
    text-decoration: none;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .add-to-cart {
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--dark);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.10cm;
  

    
  }
  .add-to-cart:hover {
    background-color: #E8BB8C;
    color: black;
    
  }
  .quantity {
    display: flex;
    margin-left: 34%;
    justify-content: space-between;
    width: 120px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .quantity-input {
    width: 60%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  
  .quantity .minus,
  .quantity .plus {
    width: 20%;
    height: 100%;
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  
  .quantity .minus:hover,
  .quantity .plus:hover {
    background-color: #ddd;
  }
  

  .cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 50px;
    z-index: 9999;
  }
  
  .cart-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff4500;
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  

  
  .cart-container.show {
    right: 0;
    width: 450px;
  }
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
   
  }
  
  
  .cart-item h4 {
    margin: 0;
  }
  
  .cart-item p {
    margin: 5px 0;
  }
  
  .cart-item .quantity {
    display: flex;
    align-items: center;
  }
  
  .cart-item .quantity button {
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cart-item .quantity input {
    font-size: 16px;
    text-align: center;
    width: 50px;
    border: 1px solid #ccc;
    margin: 0 10px;
  }
  
  .cart-item .remove-button {
    font-size: 16px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
  }
  .cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    z-index: 9999;
  }
  
  .cart-count {
    position: absolute;
    top: 25%;
    left: 67%;
    transform: translate(-50%, -50%);
    background-color: #ff4500;
    color: #fff;
    font-size: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .cart-container {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 9998;
    transition: right 0.3s ease-in-out;
    overflow-y: scroll;
  }
  

  .cart-item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 1rem;
  }
  